/* = Offcanvas sliding panel
=============================================*/

.offcanvas-panel {
    position: fixed;
    z-index: 10;
    top: 0;
    right: -100%;
    width: 300px;
    background-color: black;
    will-change: transform, right;
    transition: transform 0.3s ease-out, right 0.3s ease;
    height: 100%;
    overflow: auto;

    &.isVisible {
        right:0;
    }
}

.offCanvasVisible {
    .offcanvas-panel {
        right:0;
    }
}
