:root {
    --header-background:#5f27cd;
    --sidebar-background:#222f3e;
    --sidebar-link-color: #acabab;
    --sidebar-link-active: #FFF;
    --sidebar-tags-color: #ffeb3b;
    --light-gray-border: 1px solid #DDD;
}
