body.darkTheme {

    --header-background:#5f27cd;
    --sidebar-background:#222f3e;
    --sidebar-link-color: #acabab;
    --sidebar-link-active: #FFF;
    --sidebar-tags-color: #ffeb3b;
    --light-gray-border: 1px solid #DDD;

	background-color: var(--header-background);
	color: #e5e9ec;

	a {
		color: #ffc107;
		&:hover,
		&:focus {
			color: #FFF;
		}
	}
}
