:root {
    --header-background:#FFF;
    --sidebar-link-color: #FFF;
    --sidebar-link-active: #000;
    --sidebar-tags-color: #ffeb3b;
    --sidebar-category-color: #c8d6e5;
    --sidebar-background:#222f3e;
    --light-gray-border: 1px solid #DDD;

}
